.row {
    margin-top: 80px;
    margin-bottom: 60px;
}

.sentence-detail-container {
    line-height: 1.6;
    /* space to Review (sidebar-container) on Mobile devices */
    padding-bottom: 30px;
}
.sentence-detail-container .english-sentence {
    padding-bottom: 10px;
}
.sentence-detail-container .english-sentence blockquote {
    margin-left: 0;
    border-left: 4px solid #00C853;
    padding: 0 15px;
    font-size: 16px;
}
.sentence-detail-container .chinese-sentence {
    padding-bottom: 10px;
    color: #4D4D4D;
}
.sentence-detail-container .original-source {
    padding-bottom: 10px;
    color: #4D4D4D;
}
.sentence-detail-container .note {
    padding-bottom: 10px;
    color: #4D4D4D;
}
.sentence-detail-container .time-and-tags-widget {
    padding: 20px 0;
    color: #4D4D4D;
}
.sentence-detail-container .time-and-tags-widget a {
    color: #4D4D4D;
    /* text-decoration: none; */
}
.sentence-detail-container .time-and-tags-widget a:hover {
    text-decoration-color: rgb(156, 211, 146);
}

.sidebar-container .panel .panel-body {
    /* background-color: #deecdd; */
    background-color: rgb(222, 236, 221, 0.9)
}
.sidebar-container .panel .panel-body .btn-success {
    margin-top: 20px;
    /* background-color: transparent;
    color: #34A853; */
}