{% extends 'homepage/base.html' %}

{% load static %}

{% block css_header %}
    <link rel="stylesheet" href="{% static 'words_in_sentences/css/sentence-detail.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 sentence-detail-container">
                {% if sentence.is_active is True %}
                    <div class="english-sentence">
                        <blockquote>
                            {{ sentence.english_sentence|linebreaks }}
                        </blockquote>
                    </div>
                    
                    {# TODO: highlight_word #}

                    {% if sentence.chinese_translation %}
                        <div class="chinese-sentence">
                            <b>Chinese translation:</b>
                            {{ sentence.chinese_translation|linebreaks }}
                        </div>
                    {% endif %}

                    {% if sentence.original_source %}
                        <div class="original-source">
                            <b>Source:</b>
                            <br>
                            <p>
                                <a href="{{ sentence.original_source }}">
                                    {{ sentence.original_source }}
                                </a>
                            </p>
                        </div>
                    {% endif %}

                    {% if sentence.note %}
                        <div class="note">
                            <b>Note:</b>
                            <br>
                            {{ sentence.note|linebreaks }}
                        </div>
                    {% endif %}

                    <div class="time-and-tags-widget">
                        <small>
                            <span class="glyphicon glyphicon-time"></span>
                            {% if sentence.version > 1 %}
                                Posted on {{ sentence.created_time|date:"SHORT_DATE_FORMAT" }},
                                Modified on {{ sentence.modified_time|date:"SHORT_DATE_FORMAT" }}
                            {% else %}
                                Posted on {{ sentence.created_time|date:"SHORT_DATE_FORMAT" }}
                            {% endif %}
                        </small>
                        <br>
                        {% for tag in sentence.tags.all %}
                            {% if tag %}
                                <small>
                                    <a href="{% url 'words_in_sentences:sentence-list' %}?tag={{ tag.name }}">
                                        <span class="glyphicon glyphicon-tag"></span>
                                        {{ tag.name }}
                                    </a>
                                </small>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <h1>Not Found</h1>
                    <br>
                    The requested resource may have been hidden or deleted.
                {% endif %}
            </div><!-- End sentence-detail-container -->
            <div class="col-md-3 col-md-offset-1 sidebar-container">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Review
                            <small>
                                · Beat the
                                <a href="https://en.wikipedia.org/wiki/Forgetting_curve">
                                    Forgetting Curve
                                </a>
                            </small>
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% if review_list|length < 5 %}
                            {% for num, review in zip_review_list %}
                                <p>
                                    #{{num}}/5 review:
                                    {{ review.last_review_date|date:"SHORT_DATE_FORMAT" }}
                                </p>
                            {% endfor %}
                            {% if request.user == sentence.author %}
                                <p><small>Compared with the last review,
                                    <br>wait at least 1, 2, 3, 8 days.</small></p>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <!-- form.as_p will render them wrapped in <p> tags -->
                                    {# {{ form }} #}
                                    <input type="hidden" name="review_times" value="{{ review_list|length|add:1 }}">
                                    <button type="submit" class="btn btn-success ">
                                        #{{ review_list|length|add:1 }}/5 Review
                                    </button>
                                </form>
                            {% endif %}
                        {% else %}
                            {% for num, review in zip_review_list %}
                                <p>
                                    #{{num}}/5 review:
                                    {{ review.last_review_date|date:"SHORT_DATE_FORMAT" }}
                                </p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div><!-- End .row -->
    </div><!-- End .container -->
{% endblock %}
