body {
    background-color: #c1dfc4;
}

.navbar-fixed-top {
    /* background-color: #deecdd; */
    /* https://webgradients.com/ */
    background-image: linear-gradient(to top, #deecdd 0%, #c1dfc4 100%);
}
.navbar-fixed-top .navbar-brand {
    font-family: 'Dancing Script', cursive;
}